/* :root,
uxp-panel {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2d2d2d;
  height: 100%;
}

body,
html,
.app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: inherit;
}

h1 {
  font-size: 2.2rem;
  margin: 1rem 0 0;
}

/* 
button {
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;
  background-color: #0078d4;
  color: white;
  cursor: pointer;
  margin: 0.75rem 0;
  transition: background-color 0.3s ease;
}

button:hover:not(:disabled) {
  background-color: #005a9e;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
} */
/* 
.results {
  width: 100%;
  padding: 0 1rem;
}

.base-color-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  margin: 6px;
  cursor: pointer;

  border-radius: 10px;
  border: 0.5px solid gray;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  user-select: none;
}

.color-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin: 0 6px 0 6px;
  cursor: pointer;

  border-radius: 10px;
  border: 0.5px solid gray;
  color: white;
  font-weight: bold;
  font-size: 0.7rem;
  user-select: none;
  transition: transform 0.2s ease-in-out;
}

.color-box:hover {
  transform: scale(1.5);
}
.color-box.selected {
  outline: 3px solid #007aff;
  box-shadow: 0 0 8px #007aff; 
  transform: scale(1.05);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.palette {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.create-btn {
  width: 100%;
}

.btn-row {
  margin-top: 1rem;
  padding: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-row > *:not(:last-child) {
  margin: 3px;
}

.btn {
  background-color: #2a2a2a;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  margin: 0 2px 0 2px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}
*/
